@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .my-custom-bg {
        background: linear-gradient(104.23deg, #477A85 -34.72%, #112936 38.04%, #501951 97.69%);
    }

    .my-custom-pattern{
        background-color: #00000000;
        opacity: 1;
        background-image:  linear-gradient(#284b5733 0.7000000000000001px, transparent 0.7000000000000001px), linear-gradient(to right, #284b5733 0.7000000000000001px, rgba(0,0,0,0) 0.7000000000000001px);
        background-size: 50px 50px;
    }
  }