{% extends 'base.html' %}

{% load static %}

{% block title %}Blog{% endblock title %}
{% block content %}

<div class="text-center font-sans font-bold text-[28px] uppercase">
    Últimos artigos publicados
</div>


{% for post in posts %}
    <div class="flex flex-row h-fit my-11 bg-white drop-shadow-md rounded-sm">
        <div class="w-1 bg-[#501951] rounded-sm">

        </div>
        <div class="w-full ml-6 py-3">
            <div class="font-extrabold text-2xl normal-case font-baloo-thambipt-2 mb-2">
                <a href={% url 'blog:post_detail' post.slug %}>
                    {{ post.title|lower|capfirst }}
                </a>
            </div>
            <p class="font-inter text-neutral-600">
                <a href={% url 'blog:post_detail' post.slug %}>
                {{post.summary|truncatechars:150|capfirst}}
                </a>
            </p>
            <p class="italic font-inter text-xs font-neutral-600 my-2">
                {{post.created_at|date}}
            </p>
            <div class="flex items-center font-inter text-xs font-bold text-[#4F4F4F] space-x-1 mt-1" >
                {% if post.tags.all%}
                <i class="fa-solid fa-tags text-base"></i>
                {%endif%}
                {% for tag in post.tags.all %}
                <a class="items-center hover:text-[#000000]" href="{{ tag.get_absolute_url  }}">{{tag.name}}</a>{%if not forloop.last%}, {%endif%}
                {% endfor %}
            </div>
        </div>
    </div>
{% empty %}
<p>No posts are available.</p>
{% endfor %}
{% endblock %}