{% extends 'base.html' %}

{% load static %}

{% block title %}Blog{% endblock title %}
{% block content %}
{% if posts %}
    {% for post in posts %}
        <div class="posts">
            {% if post.image %}
            <img class="post-image" width="350px" src="/media/{{post.image}}" alt="">
            {% else %}
            <img class="post-image" width="350px" src="{% static 'images/no_image.jpg' %}" alt="">
            {% endif %}
            <div>
                <h1><a href={% url 'blog:post_detail' post.slug %}>{{ post.title }}</a></h1>
                <span>{{post.summary}}</span>
                <br>
                <span>
                    {% for tag in post.tags.all %}
                    <a href="{{ tag.get_absolute_url  }}">{{tag.name}}</a>{%if not forloop.last%}, {%endif%}
                    {% endfor %}
                </span>
            </div>
        </div>
        <hr>
    {% endfor %}
{% else %}
    <p>No posts are available.</p>
{% endif %}
{% endblock %}