<!DOCTYPE html>
<html lang="pt-BR">

{% load tailwind_tags %}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="https://kit.fontawesome.com/4bed414b26.js" crossorigin="anonymous"></script>
    
    {% tailwind_css %}

    <title>{% block title %}Davi Romão{% endblock title %}</title>
</head>

<body>

    <nav>
        <a href="{% url 'blog:post_list' %}">Davi Romão</a>
        <ul>
            <li><a href="{% url 'blog:post_list' %}">Home</a></li>
            <li><a href="{% url 'pages:works' %}">Works</a></li>
            <li><a href="{% url 'pages:about' %}">About</a></li>
        </ul>
    </nav>

    <div id="container">
        <div>
            {% block content %}
            {% endblock content %}
        </div>
    </div>

    <footer>
        <div>
            <span>&copy {% now "Y" %} Davi da Silva Romão.</span>
            <span>All right reserved.</span>
        </div>
        <div>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-github-square"></i>
            <i class="fa-brands fa-twitter-square"></i>
            <i class="fa-brands fa-instagram-square"></i>
        </div>
    </footer>
</body>

</html>