<!DOCTYPE html>
<html lang="pt-BR">

{% load static %}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Baloo+Thambi+2" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4bed414b26.js" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <title>{% block title %}Davi Romão{% endblock title %}</title>
</head>

<body>

    <nav>
        <a class="name-logo" href="{% url 'blog:post_list' %}">Davi Romão</a>
        <ul>
            <li><a href="{% url 'blog:post_list' %}">Home</a></li>
            <li><a href="{% url 'pages:works' %}">Works</a></li>
            <li><a href="{% url 'pages:about' %}">About</a></li>
        </ul>
    </nav>

    <div class="container">
        <div class="content">
            {% block content %}
            {% endblock content %}
        </div>
    </div>

    <footer>
        <div class="copyright">
            <span id="copy">&copy {% now "Y" %} Davi da Silva Romão.</span>
            All right reserved.
        </div>
        <div class="social-media">
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-github-square"></i>
            <i class="fa-brands fa-twitter-square"></i>
            <i class="fa-brands fa-instagram-square"></i>
        </div>
    </footer>
</body>

</html>