<!DOCTYPE html>
<html lang="pt-BR">

{% load tailwind_tags %}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&family=Luckiest+Guy&family=Inter" rel="stylesheet">

    <script src="https://kit.fontawesome.com/4bed414b26.js" crossorigin="anonymous"></script>
    
    {% tailwind_css %}

    <title> Davi Romão | {% block title %}{% endblock title %}</title>
</head>

<body class="h-screen bg-[#fdfdfd]" >

    <nav class="flex justify-center h-1/6 max-h-28 w-full bg-zinc-800">
        <ul class="flex flex-row justify-center items-center text-neutral-200 text-xl font-bold text-center font-sans ">
            <li class="h-3/4 flex hover:bg-[#00000020] hover:text-white transition-all delay-100">
                <a href="{% url 'blog:post_list' %}"
                class="m-auto px-11 py-1 border-r border-r-neutral-900">
                Home
                </a>
            </li>
            <li class="h-3/4 flex hover:bg-[#00000020] hover:text-white transition-all delay-100">
                <a href="{% url 'pages:works' %}"
                class="m-auto px-11 py-1 border-r border-r-neutral-900 border-l border-l-neutral-600">
                Works
                </a>
            </li>
            <li class="h-3/4 flex hover:bg-[#00000020] hover:text-white transition-all delay-100">
                <a href="{% url 'pages:about' %}"
                class="m-auto px-11 py-1 border-l border-l-neutral-600">
                About
                </a>
            </li>
        </ul>
    </nav>

    <section class="h-5/6 my-custom-bg m-0 p-0">
        <div class="flex items-center justify-center space-x-44 h-full m-0 p-12 my-custom-pattern">
            <div class="flex flex-col items-center font-luckiest-guy text-white">
                <span class="text-9xl">Davi</span>
                <span class="text-7xl">Romão</span>
            </div>
            <div class="text-white w-96">
                <p class="font-sans text-5xl font-bold mb-5">
                    Olá! 👋
                </p>
                <p class="font-sans text-3xl font-medium mb-2 text-neutral-50">
                    Seja bem-vindo ao meu lugarzinho.
                </p>
                <p class="font-semibold text-neutral-200 mb-2">
                    É nele que você irá aprender um pouco mais
                    sobre algumas das tecnologias que utilizo.
                </p>
                <p class="font-semibold text-neutral-200 mb-2">
                    Aproveite para conhecer mais <a class="text-white italic" href="{% url 'pages:about' %}#container">sobre mim</a>.
                </p>
            </div>
        </div>
    </section>

    <div class="flex justify-center mx-auto w-full mt-16 space-x-10">
        <div class="w-[723px]">
            <div>
                {% block content %}
                {% endblock content %}
            </div>
        </div>
        <div class="w-[330px] h-fit p-7 space-y-7 rounded-xl border-solid border">
            <div>
                <div class="font-bold">
                    Buscar por artigos
                </div>
            </div>
            <hr>
            <div>
                <div class="font-bold">
                    Cadastre seu email
                </div>
            </div>
            <hr>
            <div>
                <div class="font-bold">
                    Todas categorias
                </div>
            </div>
        </div>
    </div>

    <footer class="flex flex-row justify-between w-full px-11 py-5 mt-14 bg-neutral-300">
        <div class="flex flex-col text-neutral-900">
            <span class="font-bold">&copy {% now "Y" %} Davi da Silva Romão.</span>
            <span>All right reserved.</span>
        </div>
        <div class="px-10 space-x-5 text-4xl text-neutral-900">
            <a href="https://www.linkedin.com/in/daviromao/" target="_blank">
                <i class="fa-brands fa-linkedin hover:text-black"></i>
            </a>
            <a href="https://github.com/daviromao" target="_blank">
                <i class="fa-brands fa-github-square hover:text-black"></i>
            </a>
            <a href="https://twitter.com/potato_doce_" target="_blank">
                <i class="fa-brands fa-twitter-square hover:text-black"></i>
            </a>
            <a href="https://www.instagram.com/d.silva0210/" target="_blank">
                <i class="fa-brands fa-instagram-square hhover:text-black"></i>
            </a>
                
        </div>
    </footer>
</body>

</html>